.container {
  padding: 4rem;
  justify-content: space-around;
  display: flex;
}

.pending {
  text-align: center;
}

.locations {
  text-align: center;
}

.navigation-container {
  text-align: center;
}


.hyvaksyttavat {
  border: 1px;
  border-color: black;
}