
.vessaKartalla {
  height: 20vh;
  display: flex;
  justify-content: center;
}

.vessatKartalla{
  height: 60vh;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
}

.container {
  background-image: url(./img/tausta.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 1rem;
  justify-content: space-around;
  display: flex;
  min-height: 700px;
}

.pending {
  text-align: center;
}

.locations {
  text-align: center;
}

.navigation-container {
  text-align: center;
}


.kartta {
  background-image: url(./img/kartta.jpg);
}